In [1]:
#answer1

In [3]:
#A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
#SQL, which stands for “Structured Query Language,” is the programming language that’s been widely used in managing data in relational database management systems (RDBMS) since the 1970s. In the early years, when storage was expensive, SQL databases focused on reducing data duplication.
# Fast-forward to today, and SQL is still widely used for querying relational databases, where data is stored in rows and tables that are linked in various ways. One table record may link to one other or to many others, or many table records may be related to many records in another table. These relational databases, which offer fast data storage and recovery, can handle great amounts of data and complex SQL queries.

#NoSQL is a non-relational database, meaning it allows different structures than a SQL database (not rows and columns) and more flexibility to use a format that best fits the data. The term “NoSQL” was not coined until the early 2000s. It doesn’t mean the systems don’t use SQL, as NoSQL databases do sometimes support some SQL commands. More accurately, “NoSQL” is sometimes defined as “not only SQL.”

In [4]:
#answer2

In [5]:
#A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
# This term is also known as data description language in some contexts, as it describes the fields and records in a database table.

In [ ]:
#CREATE TABLE
#he CREATE TABLE command creates a new table in the database.

#example



CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);

In [ ]:
#ALTER TABLE
#The ALTER TABLE command adds, deletes, or modifies columns in a table.

#The ALTER TABLE command also adds and deletes various constraints in a table.

ALTER TABLE Customers
ADD Email varchar(255);

In [ ]:
#DROP TABLE
#The DROP TABLE command deletes a table in the database.

#The following SQL deletes the table "Shippers":

DROP TABLE Shippers;

In [ ]:
#$TRUNCATE TABLE
#The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.

#The following SQL truncates the table "Categories": 

TRUNCATE TABLE Categories;

In [7]:
#answer3

In [8]:
#The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database. The keywords or statements that are associated with the data manipulation language are: SELECT INSERT, UPDATE and DELETE. These are the primary statements of data manipulation language (DML) and are used widely.

In [ ]:
#INSERT Command
#To add data to a table the INSERT command is used. The syntax of the INSERT command is given below:

INSERT into table-name values (data, data …)

In [ ]:
#Update Command:
#To update a table or row or column in the table we use the update command. The syntax of update command is given below:

Update table-name set column-name = value where condition;

In [ ]:
# Delete Command
# To delete a table row or some data from a table in the database the delete command is used. The syntax of delete command is as follows:

DELETE from table-name;

In [9]:
#answer4

In [10]:
# DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database. DQL statements are used to query the database and retrieve specific data based on specified criteria. The most commonly used DQL statement is SELECT.

# SELECT is used to retrieve data from one or more tables in a database. It allows you to specify the columns to retrieve, the table or tables to retrieve them from, and any conditions that the retrieved data must meet. Here's an example of a SELECT statement:

In [11]:
#answer5

In [12]:
#The FOREIGN KEY constraint is used to prevent actions that would destroy links between tables.

# A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table.

# The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

In [13]:
#answer6

In [17]:
# The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

# Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

# execute()
# This method accepts a MySQL query as a parameter and executes the given query.

# cursor()
#Allows Python code to execute PostgreSQL command in a database session.

In [19]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp310-cp310-manylinux1_x86_64.whl (23.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.5/23.5 MB 45.6 MB/s eta 0:00:0000:0100:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 69.5 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.21.11
    Uninstalling protobuf-4.21.11:
      Successfully uninstalled protobuf-4.21.11
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
#answer7

In [6]:
# FROM	Tables are joined to get the base data.
# 	WHERE	The base data is filtered.
# 	GROUP BY	The filtered base data is grouped.
# 	HAVING	The grouped base data is filtered.
# 	SELECT	The final data is returned.
# 	ORDER BY	The final data is sorted.
# 	LIMIT	The returned data is limited to row count.